<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBS</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="/JS/libs/v10.4.0-package/ol.css">
    <link rel="stylesheet" href="./JS/libs/jspanel-4.16.1/dist/jspanel.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <h1>Türkiye Haritası</h1>
        <div class="buttons">
            <button id="addPointBtn">Nokta Ekle</button>
            <button id="queryPointsBtn">QueryPointsBtn</button>
        </div>
    </nav>

    <!-- Harita -->
    <div id="map"></div>

    <script src="./JS/libs/v10.4.0-package/dist/ol.js"></script>
    <script src="./JS/libs/jspanel-4.16.1/dist/jspanel.js"></script>
    <!-- <script src="./JS/main.js"></script> -->
    <script src="./main.js"></script>
    

</body>
</html>
